
.thumbnail {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.3s;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail:hover {
  transform: scale(1.03);
}

.pp {
  width: 35px;
  border-radius: 50%;
}

.title {
  font-weight: 500px;
  margin: 0;
  margin-bottom: 10px;
}

.author,
.stats {
  color: rgb(80, 79, 79);
  font-size: 12px;
  margin: 4px 0;
}

.container-pp {
  width: 50px;
  flex-shrink: 0;
}

.container-info {
  flex: 1;
  min-width: 0;
}

.container {
  transition: 0.3s;
}

.container:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}

.video-info {
  display: flex;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
  padding: 0 20px;
}

.thumbnail-row {
  position: relative;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 3px 4px;
  border-radius: 3px;
}